<div class="header_buttons">
  <%= link_to 'Post new trip', new_trip_path, class: 'btn btn-primary' %>
</div>

<h1 class="title">Upcoming Trips</h1><br/>

  <div class="upcoming-trips clearfix">
    <% @trips.each do |trip| %>
    <div class="col-md-4">
      <ul>
        <li>
          <div class="post-image">
            <i class="icon-picons-earth"></i>
          </div>
          <h3><%= link_to trip.location, trip %></h3>
          <p>Notes: <%= trip.description %></p>
          <div class="meta">
            <span><i class="fa fa-calendar"></i><%= trip.trip_start_date %></span>
          </div>
        </li>
      </ul>
    </div>
    <% end %>
  </div>

<br>


