<div class="jumbotron center">
  <h1>Welcome to Hopscotch</h1>
  <p>Find places where your friends have been in places you are going</p>
  <%= link_to "Sign in with Foursquare", user_omniauth_authorize_path(:foursquare), :class => 'btn btn-primary btn-lg' %>
  <p>Facebook login coming soon!</p>
</div>