<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Hopscotch</h1>
    <p>Find places where your friends have been in places you are going</p>
    <%= link_to "Sign in with Foursquare", user_omniauth_authorize_path(:foursquare), :class => 'btn btn-primary btn-lg' %>
</div>
</div>

<div class="product_info">
  <div class="container">
    <h1 class="title">What this does</h1>
    <h2 class="subtitle">
      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
    </h2>

    <div class="row services">
      <div class="col-sm-4">
        <h2><i class="icon-picons-date-2"></i></h2>
        <h5>Header here</h5>
        <p>
          Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
        </p>
      </div>
      <div class="col-sm-4">
        <h2><i class="icon-picons-location"></i></h2>
        <h5>Header here</h5>
        <p>
          Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
        </p>
      </div>
      <div class="col-sm-4">
        <h2><i class="icon-picons-users-2"></i></h2>
        <h5>Header here</h5>
        <p>
          Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
        </p>
      </div>
    </div>
  </div>
</div>