<div class="jumbotron">
  <div class="container">
    <h1>Welcome to Hopscotch</h1>
    <p>Find places where your friends have been in places you are going</p>
    <%= link_to "Sign in with Foursquare", user_omniauth_authorize_path(:foursquare), :class => 'btn btn-primary btn-lg' %>
</div>
</div>

<div class="product_info">
  <div class="container">
    <h1 class="title">Put your mark on the map</h1>
    <h2 class="subtitle">
      At Hopscotch, we want to help you get the most of your vacations. Instead of posting on Twitter or Foursquare and bugging your friends, we handle things the other way. Post where you want to go, and we go out and find things your friends recommend on Foursquare and Facebook (coming soon).
    </h2>

    <div class="row services">
      <div class="col-sm-4">
        <h2><i class="icon-picons-date-2"></i></h2>
        <h5>Plan your trip</h5>
        <p>
          Hopscotch works around your schedule. Enter in your trip start date and end date and we find amazing things for you to do.
        </p>
      </div>
      <div class="col-sm-4">
        <h2><i class="icon-picons-location"></i></h2>
        <h5>Going somewhere cool?</h5>
        <p>
          Enter in your location and all of the great places to visit are displayed on a beautiful responsive map. We highlight the top 10 places to go in each city.
        </p>
      </div>
      <div class="col-sm-4">
        <h2><i class="icon-picons-users-2"></i></h2>
        <h5>Powered by your friends</h5>
        <p>
          Sign in with Foursquare and find things to do that your friends can vouch for. No friends on Foursquare? We'll default to Foursquare's recommended places.
        </p>
      </div>
    </div>
  </div>
</div>